body.v4master {
  background: #000;
  background-image: url(https://github.com/WmeLuna/WmeLuna.github.io/raw/main/v462-n-130-textureidea_1.jpg) !important;
}
#pageShadow {
background-image: unset !important;
}
#s4-workspace {
  filter: invert(1) !important;
}
#s4-workspace img {
  filter: invert(1) !important;
}

body #s4-ribbonrow {
    background: url(https://github.com/WmeLuna/WmeLuna.github.io/raw/main/images/image.png) no-repeat top center/cover !important;
    background-size:  1489px 70px !important;
}

#pageWrapper, #pageShadow {
  width: 90% !important;
}
.s4-nosetwidth {
  width: unset !important;
}
#s4-workspace {
  width: 100% !important;
}



body:not([wmeready]) #pageShadow::after{content:'Please install DadeCSSBase from https://git.io/JKnWJ in order to have the theme work properly';background:#000;position:fixed;z-index:5;right:0;bottom:0;display:flex;align-items:center;max-width:225px;line-height:normal;padding:15px 0 15px 60px;margin-right:10px;margin-bottom:10px;border-left:2px solid #540488;border-radius:2px;color:rgba(255,255,255,.65);background-image:url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMSAyMWgyMkwxMiAyIDEgMjF6bTEyLTNoLTJ2LTJoMnYyem0wLTRoLTJ2LTRoMnY0eiIvPjwvc3ZnPg==);background-repeat:no-repeat;background-size:35px;background-position:10px center}
