@import url("https://wmeluna.github.io/css/disc-nolight.css");


.info-1VyQPT .colorMuted-HdFt4q.size12-3cLvbJ:not(.line-3ColD0) {
    display: none
}
#bd-pub-li,.da-channelTextArea>.container-JHR0NT,.loadingIconWrapper-PsVJ9m,[aria-label="Open GIF picker"],[aria-label="Open sticker picker"],[aria-label="Send a gift"],[href="/discovery"],a[href="https://support.discord.com"],[aria-label="Inbox"] {
    display: none
}
.card-x5zW6z .header-4hHJgv {
    display: none
}
.socialLinks-3jqNFy [title="BetterDiscord"] {
    display: none;
}

/*compact Plugin Repo and Theme Repo*/
/*
.card-x5zW6z .header-4hHJgv,.card-x5zW6z .tags-9KJ-1X {
    display: none
}

.card-x5zW6z {
    height: 227px
}

.card-x5zW6z .info-xw-o76 {
    padding-top: 16px
}*/
