.info-1VyQPT .colorMuted-HdFt4q.size12-3cLvbJ:not(.line-3ColD0) {
    display: none
}

#bd-pub-li,.da-channelTextArea>.container-JHR0NT,.loadingIconWrapper-PsVJ9m,[aria-label="Open GIF picker"],[aria-label="Open sticker picker"],[aria-label="Send a gift"],[href="/discovery"],a[href="https://support.discord.com"] {
    display: none
}
