#app-mount .nameAndDecorators-5FJ2dg .name-uJV0GL .overflow-WK9Ogt::before,
#app-mount .nameAndDecorators-5FJ2dg .name-uJV0GL span::before,
#app-mount .listAvatar-1BbvHX + .listName-U3shDM .username-2b1r56::before {
    padding: 0 8px 0 8px;
    margin-right: 4px;
}

#app-mount .wrapper-2a6GCs h2 .username-1A8OIy::before,
#app-mount .userInfo-2zN2z8 .wrapper-3t9DeA + .text-37NqbO .username-2b1r56::before,
#app-mount .userPopout-xaxa6l .headerTagUsernameNoNickname-1ZLDYY::before,
#app-mount .userPopout-xaxa6l .nickname-2gQ76l::before {
    padding: 0 10px 0 10px;
    margin-right: 4px;
}

#app-mount .wrapper-3t9DeA + .header-3uLluP::before {
    padding: 0 12px 0 12px;
    margin-right: 4px;
}
/*verified tick if person is a friend*/
[data-is-author-friend="true"] .username-1A8OIy::before,
[data-is-author-friend="true"] .nameAndDecorators-5FJ2dg .name-uJV0GL span::before,
[data-is-author-friend="true"] .nameAndDecorators-5FJ2dg .name-uJV0GL .overflow-WK9Ogt::before, [data-is-author-friend="true"].userPopout-xaxa6l .headerTagUsernameNoNickname-1ZLDYY::before, [data-is-author-friend="true"].userPopout-xaxa6l .nickname-2gQ76l::before {
    content: "";
    background: url("https://media.discordapp.net/attachments/882020715119935558/892401302154395668/2339-blurple-verified.png") center/100% no-repeat;
}
