@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
pre {
  white-space: pre-wrap;
}
* {
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #000 !important;
  background-image: url("https://github.com/WmeLuna/WmeLuna.github.io/raw/main/v462-n-130-textureidea_1.jpg")
}
a:link, a:visited {
  color: #8e489a;
}
img {
  box-shadow: 0 0 7px 0px;
}
#output-area::after {
  content:"WmeLuna's Colab Theme";
  background:var(--colab-primary-surface-color);
  position:fixed;
  z-index:5;
  right:0;
  bottom:0;
  display:flex;
  align-items:center;
  line-height:normal;
  padding:10px;
  margin-right:10px;
  margin-bottom:10px;
  border-left:3px solid #540488;
  border-radius:2px;
  color:rgba(255,255,255,1);
}