/* ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«ğ’«#1759 */
[data-user-id="362372833961181184"] {
    --user-background: linear-gradient(37deg, rgba(29,119,235,1) 0%, rgba(171,49,241,1) 50%, rgba(255,180,49,1) 100%);
}

/* Diamond#1221 */
[data-user-id="299681550096924674"] {
    --user-background: linear-gradient(37deg, rgba(29,119,235,1) 0%, rgba(171,49,241,1) 50%, rgba(255,180,49,1) 100%);
}

/* Me :) */
[data-user-id="795580549070323722"] {
    --user-background: linear-gradient(37deg, rgba(29,119,235,1) 0%, rgba(171,49,241,1) 50%, rgba(255,180,49,1) 100%);
}

/* peet */
[data-user-id="585935919224324117"] {
    --user-background: linear-gradient(37deg, rgba(29,119,235,1) 0%, rgba(171,49,241,1) 50%, rgba(255,180,49,1) 100%);
}
